#id {
    display: inline;
}
#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-right: 25px;
}

.image-container {
    width: 100%;
    /* height: 50%; */
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px;
}
.image {
    object-fit: cover;

    width: 300px;
    height: 300px;
}
h4 {
    text-align: center;
    margin-top: 5px;
}

#file-field {
    transform: translateX(-3000px);
}

label {
    border: 2px tomato solid;
    border-radius: 5px;
}
.image-modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(201, 102, 0, 0.4);
}
.inner-modal img {
    width: 350px;
    height: 350px;
}
.inner-modal {
    width: 700px;
    height: 700px;
    background-color: blue;
}
